# ============================================================================ #
# CODEOWNERS
# 
# This file declares the default owners for everything in this repository.
# ============================================================================ #
*       @rimij405
