# ============================================================================ #
# .gitignore
# ============================================================================ #

# ===== DIRECTORIES

# IDE Specific
.vscode/
.idea/

# Dependencies
node_modules/
vendor/

# Build Artifacts
build/
dist/

# Misc.
var/
.tmp/

# ===== FILES

# Environment Variables
.env
.env.test
!.env.example

# Secrets
*.pem